@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Pixelify Sans", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#playerNameInput {
  bottom: 250px;
  position: absolute;
}

#playerNameInput {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  width: 250px;
  caret-color: transparent;
  text-align: center;
}
